@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (min-width: 400px) and (max-width: 500px) {
	body {
		background-image: linear-gradient(rgb(14, 14, 14), rgb(9, 24, 58));
	}
	.index__imagen__container {
		width: 100%;
		height: 45vh;
		overflow: hidden;
		position: absolute;
	}
	.index__imagen__perfil {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.main__index__olas {
		width: 100%;
		height: 30vh;
		top: 25vh;
		position: relative;
		overflow: hidden;
		z-index: 100;
	}
	.main__index__blancas {
		width: 100vh;
		top: 5vh;
		transform: rotate(3.5deg);
		z-index: 200;
		position: absolute;
	}
	.main__index__azules {
		width: 100vh;
		position: absolute;
	}
	.index__titulo {
		position: relative;
		top: 18vh;
		margin-left: 2vh;
		font-family: Poppins;
		font-weight: bolder;
		color: aliceblue;
		z-index: 10000;
	}
	.header__logo {
		position: absolute;
		z-index: 5000;
		top: 43.7vh;
		right: 2.5vh;
	}
	.header__image {
		border-radius: 50%;
		width: 15vh;
		height: 15vh;
	}
	.espacio {
		height: 19vh;
	}
	.index__subtitulo {
		font-size: 3vh;
		margin-left: 2.2vh;
		font-family: Poppins;
		font-weight: 400;
		color: aliceblue;
	}
	.index__contenedor__redes {
		margin-top: 5vh;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 12vh;
		align-items: center;
		justify-content: space-evenly;
	}
	.separador {
		height: 1px;
		background: rgba(255, 255, 255, 0.541);
		width: 85%;
		margin: auto;
		margin-top: 6vh;
	}
	.index__descripcion {
		margin-top: 4vh;
		height: 27vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		color: aliceblue;
		font-family: Poppins;
	}
	.index__descripcion h2 {
		text-align: center;
		font-weight: 300;
		font-size: 2.6vh;
		padding-left: 1vh;
		padding-right: 1vh;
	}
	.index__descripcion h3 {
		font-size: xx-large;
		padding: 0 9vh 0 9vh;
		text-align: center;
	}
	.caja__exincor {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50vh;
		overflow: hidden;
		width: 100%;
	}
	.footer__texto__container {
		height: 25vh;
		margin-top: 7vh;
		background-color: rgb(5, 13, 34);
		color: aliceblue;
		font-family: Poppins;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}
	.footer__derechos {
		text-align: center;
		font-size: 2vh;
		padding: 2vh;
	}
	.footer__texto__container a {
		text-decoration: none;
		color: aliceblue;
	}
	.copyright {
		padding-bottom: 2vh;
	}
	.exincor__footer {
		padding: 2vh 2vh 0vh 2vh;
		text-align: center;
		font-size: 3vh;
	}
	.sobre__nosotros {
		height: 5vh;
		color: aliceblue;
		font-family: Poppins;
		margin-bottom: 2vh;
		margin-left: 3vh;
	}
	.index__descripcion__SN {
		height: 60vh;
		color: aliceblue;
		font-family: Poppins;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-left: 3vh;
	}
	.index__descripcion__SN p {
		padding-right: 2vh;
		text-align: start;
		font-size: 2.4vh;
	}
	.advertencia {
		display: none;
	}
}
@media (min-width: 300px) and (max-width: 400px) {
	body {
		background-image: linear-gradient(rgb(14, 14, 14), rgb(9, 24, 58));
	}
	.index__imagen__container {
		width: 100%;
		height: 43vh;
		overflow: hidden;
		position: absolute;
	}
	.index__imagen__perfil {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.main__index__olas {
		width: 100%;
		height: 30vh;
		top: 23vh;
		position: relative;
		overflow: hidden;
		z-index: 100;
	}
	.main__index__blancas {
		width: 100vh;
		top: 5vh;
		transform: rotate(3.5deg);
		z-index: 200;
		position: absolute;
	}
	.main__index__azules {
		width: 100vh;
		position: absolute;
	}
	.index__titulo {
		position: relative;
		top: 18vh;
		font-size: 3.6vh;
		margin-left: 2vh;
		font-family: Poppins;
		font-weight: bolder;
		color: aliceblue;
		z-index: 10000;
	}
	.header__logo {
		position: absolute;
		z-index: 5000;
		top: 43.7vh;
		right: 2.5vh;
	}
	.header__image {
		border-radius: 50%;
		width: 15vh;
		height: 15vh;
	}
	.espacio {
		height: 19vh;
	}
	.index__subtitulo {
		font-size: 2.3vh;
		margin-left: 2.2vh;
		font-family: Poppins;
		font-weight: 400;
		color: aliceblue;
	}
	.index__contenedor__redes {
		margin-top: 5vh;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		height: 12vh;
		align-items: center;
		justify-content: space-evenly;
	}
	.separador {
		height: 1px;
		background: rgba(255, 255, 255, 0.541);
		width: 85%;
		margin: auto;
		margin-top: 6vh;
	}
	.index__descripcion {
		margin-top: 4vh;
		height: 27vh;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		color: aliceblue;
		font-family: Poppins;
	}
	.index__descripcion h2 {
		text-align: center;
		font-weight: 300;
		font-size: 2.3vh;
	}
	.index__descripcion h3 {
		font-size: 4vh;
		padding: 0 9vh 0 9vh;
		text-align: center;
	}
	.caja__exincor {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50vh;
		overflow: hidden;
		width: 100%;
	}
	.footer__texto__container {
		height: 25vh;
		margin-top: 7vh;
		background-color: rgb(5, 13, 34);
		color: aliceblue;
		font-family: Poppins;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}
	.footer__derechos {
		text-align: center;
		font-size: 2vh;
		padding: 2vh;
	}
	.footer__texto__container a {
		text-decoration: none;
		color: aliceblue;
	}
	.copyright {
		padding-bottom: 2vh;
	}
	.exincor__footer {
		padding: 2vh 2vh 0vh 2vh;
		text-align: center;
		font-size: 3vh;
	}
	.sobre__nosotros {
		height: 5vh;
		color: aliceblue;
		font-family: Poppins;
		margin-bottom: 2vh;
		margin-left: 3vh;
	}
	.index__descripcion__SN {
		height: 60vh;
		color: aliceblue;
		font-family: Poppins;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-left: 3vh;
	}
	.index__descripcion__SN p {
		padding-right: 2vh;
		text-align: start;
	}
	.advertencia {
		display: none;
	}
}
@media (min-width: 500px) {
	.advertencia {
		width: 199vh;
		height: 350vh;
		overflow: hidden;
		z-index: 10000;
		position: absolute;
		background-image: linear-gradient(rgb(68, 41, 9), rgb(248, 167, 75));
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.limite {
		font-family: Poppins;
		color: aliceblue;
		font-size: 6vh;
		text-align: center;
		margin-bottom: 10vh;
		font-weight: 500;
	}
	.index__imagen__container {
		display: none;
	}
	.header__logo {
		display: none;
	}
	.main__index__olas {
		display: none;
	}
}
